@model LOGI.Models.ViewModels.FinancialReportViewModel

@{
    ViewBag.Title = "Edit Financial Report";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            New Financial Report 
        </h1>

    </div>
</div>
@using (Html.BeginForm("New", "AdminFinancial", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "setFormSubmitting()" }))
{
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Report Information
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        
                            <label for="Images" class="control-label">PDF file:</label>
                            <input type="file" id="Files" name="Files">
                        </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Year)
                                @Html.TextBoxFor(m => m.Year, new { @class = "form-control", required = "required" })
                            </div>
                            <div class="form-group">
                                <h2> Fundings</h2>
                                <table style="width:100%" id="funding_table">
                                    <tr style="margin-bottom:10px;">

                                        <th>Funding</th>
                                        <th>Title</th>
                                        <th>color</th>
                                    </tr>

                                    @for (int i = 0; i < Model.FundingEntries.Count(); ++i)
                            {
                                        <tr class="funding_tr">

                                            <td width="100px">@Html.TextBoxFor(a => Model.FundingEntries[i].Value, new { type = "number", @class = "form-control", required = "required" }) </td>
                                            <td>@Html.TextBoxFor(a => Model.FundingEntries[i].Title, new { @class = "form-control", required = "required" }) </td>
                                            <td>
                                                <select style="width:100px;background-color:@Model.FundingEntries[i].Color" class="form-control color_selected" name="FundingEntries[@i].Color">
                                                    <option value="#fff" style="background-color:#fff;width:100px" @(Model.FundingEntries[i].Color == "#fff" ? "selected" : "")></option>
                                                    <option value="#e59b22" style="background-color:#e59b22;width:100px" @(Model.FundingEntries[i].Color == "#e59b22" ? "selected" : "")></option>
                                                    <option value="#fbebd4" style="background-color:#fbebd4;width:100px" @(Model.FundingEntries[i].Color == "#fbebd4" ? "selected" : "")></option>
                                                    <option value="#5d5d5d" style="background-color:#5d5d5d;width:100px" @(Model.FundingEntries[i].Color == "#5d5d5d" ? "selected" : "")></option>
                                                    <option value="#f7be62" style="background-color:#f7be62;width:100px" @(Model.FundingEntries[i].Color == "#f7be62" ? "selected" : "")></option>
                                                </select>
                                            </td>
                                        </tr>
                                        @Html.HiddenFor(a => Model.FundingEntries[i].Type)
                                        <input id="FundingEntries_@(i)__Type" name="FundingEntries[@(i)].Type" type="hidden" value="funding">
                            }
                                </table>
                                <a onclick="addFunding()" class="btn btn-outline btn-primary btn-xs">Add New Entry</a>
                            </div>

                            <div class="form-group">
                                <h2> Expences</h2>
                                <table style="width:100%" id="expences_table">
                                    <tr style="margin-bottom:10px;">

                                        <th>Expences</th>
                                        <th>Title</th>
                                        <th>color</th>
                                    </tr>

                                    @for (int i = 0; i < Model.ExpencesEntries.Count(); ++i)
                            {
                                        <tr class="funding_tr">

                                            <td width="100px">@Html.TextBoxFor(a => Model.ExpencesEntries[i].Value, new { type = "number", @class = "form-control", required = "required" }) </td>
                                            <td>@Html.TextBoxFor(a => Model.ExpencesEntries[i].Title, new { @class = "form-control", required = "required" }) </td>
                                            <td>
                                                <select style="width:100px;background-color:@Model.ExpencesEntries[i].Color" class="form-control color_selected" name="ExpencesEntries[@i].Color">
                                                    <option value="#fff" style="background-color:#fff;width:100px" @(Model.ExpencesEntries[i].Color == "#fff" ? "selected" : "")></option>
                                                    <option value="#00a88f" style="background-color:#00a88f;width:100px" @(Model.ExpencesEntries[i].Color == "#00a88f" ? "selected" : "")></option>
                                                    <option value="#cbeee8" style="background-color:#cbeee8;width:100px" @(Model.ExpencesEntries[i].Color == "#cbeee8" ? "selected" : "")></option>
                                                    <option value="#5d5d5d" style="background-color:#5d5d5d;width:100px" @(Model.ExpencesEntries[i].Color == "#5d5d5d" ? "selected" : "")></option>
                                                    <option value="#40bdab" style="background-color:#40bdab;width:100px" @(Model.ExpencesEntries[i].Color == "#40bdab" ? "selected" : "")></option>
                                                </select>
                                            </td>
                                        </tr>
                                        @Html.HiddenFor(a => Model.ExpencesEntries[i].Type)
                                        <input id="ExpencesEntries_@(i)__Type" name="ExpencesEntries[@(i)].Type" type="hidden" value="expences">
                            }
                                </table>
                                <a onclick="addExpence()" class="btn btn-outline btn-primary btn-xs">Add New Entry</a>
                            </div>
                        </div>
                    </div>


                </div>

                            <div class="col-lg-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Publish
                                    </div>
                                    <div class="panel-body">


                                        <input type="submit" class="btn btn-primary" value="Save Changes" />

                                    </div>
                                </div>

                            </div>
                        </div>
}



                        @section scripts {
                            <!--Rich Text Editor -->
                            <script src="~/Scripts/jquery.validate.min.js"></script>
                            <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
                            <script>


                                var formSubmitting = false;
                                var setFormSubmitting = function () { formSubmitting = true; };

                                window.onload = function () {
                                    window.addEventListener("beforeunload", function (e) {
                                        var confirmationMessage = 'It looks like you have been editing something. ';
                                        confirmationMessage += 'If you leave before saving, your changes will be lost.';

                                        if (formSubmitting) {
                                            return undefined;
                                        }

                                        (e || window.event).returnValue = confirmationMessage; //Gecko + IE
                                        return confirmationMessage; //Gecko + Webkit, Safari, Chrome etc.
                                    });

                                    $(".color_selected").change(function () {

                                        $(this).css("background-color", $(this).val());
                                    });
                                };
                                var funding_counter = @Model.FundingEntries.Count() ;
                                var expences_counter = @Model.ExpencesEntries.Count() ;
                                function addFunding() {
                                    $("#funding_table").append(" <tr class='funding_tr'><td width='100px'><input class='form-control' data-val='true' data-val-number='The field Value must be a number.' data-val-required='The Value field is required.' id='FundingEntries_" + funding_counter + "__Value' name='FundingEntries[" + funding_counter + "].Value' required='required' type='number' ></td><td ><input class='form-control' id='FundingEntries_" + funding_counter + "__Title' name='FundingEntries[" + funding_counter + "].Title' required='required' type='text'></td><td ><select style='width:100px;' class='form-control color_selected valid' name='FundingEntries[" + funding_counter + "].Color'><option value='#fff' style='background-color:#fff;width:100px'></option><option value='#e59b22' style='background-color:#e59b22;width:100px' selected=''></option><option value='#fbebd4' style='background-color:#fbebd4;width:100px'></option><option value='#5d5d5d' style='background-color:#5d5d5d;width:100px'></option><option value='#f7be62' style='background-color:#f7be62;width:100px'></option></select></td ><input id='FundingEntries_" + funding_counter + "__Type' name='FundingEntries[" + funding_counter + "].Type' type='hidden' value='funding'></tr>");
                                    funding_counter++;

                                    $(".color_selected").change(function () {

                                        $(this).css("background-color", $(this).val());
                                    });
                                }
                                function addExpence() {
                                    $("#expences_table").append(" <tr class='expences_tr'><td width='100px'><input class='form-control' data-val='true' data-val-number='The field Value must be a number.' data-val-required='The Value field is required.' id='ExpencesEntries_" + expences_counter + "__Value' name='ExpencesEntries[" + expences_counter + "].Value' required='required' type='number' ></td><td ><input class='form-control' id='ExpencesEntries_" + expences_counter + "__Title' name='ExpencesEntries[" + expences_counter + "].Title' required='required' type='text'></td><td ><select style='width:100px;' class='form-control color_selected valid' name='ExpencesEntries[" + expences_counter + "].Color'><option value='#fff' style='background-color:#fff;width:100px'></option><option value='#00a88f' style='background-color:#00a88f;width:100px' selected=''></option><option value='#cbeee8' style='background-color:#cbeee8;width:100px'></option><option value='#5d5d5d' style='background-color:#5d5d5d;width:100px'></option><option value='#40bdab' style='background-color:#40bdab;width:100px'></option></select></td ><input id='ExpencesEntries_" + expences_counter + "__Type' name='ExpencesEntries[" + expences_counter + "].Type' type='hidden' value='expences'></tr>");
                                    expences_counter++;

                                    $(".color_selected").change(function () {

                                        $(this).css("background-color", $(this).val());
                                    });
                                }
                            </script>
                        }
