@using LOGI.Models
<table style="width: 100%;    border: 1px solid #00a88f;">
    <tr>
        <td style="background:#00a88f;padding: 10px;text-align:center">
            <img src="http://logi-lebanon.org/Content/images/logo-logi-white@2x.png" width="250" style="width:250px" />
        </td>
    </tr>
    <tr>
        <td>
            <table style="width:100%; padding:10px;" cellpadding="5">
                <tr>
                    <td>
                        <strong>@(((VacancyApplication)ViewBag.vacancyApplication).FullName)</strong> applied to @(((Vacancy)ViewBag.vacancy).Title) on LOGI website
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong> Email: </strong>@(((VacancyApplication)ViewBag.vacancyApplication).Email)
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong> Phone:</strong>@(((VacancyApplication)ViewBag.vacancyApplication).Phone)
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Country of Residence:</strong> @(((VacancyApplication)ViewBag.vacancyApplication).Country)
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Message: </strong><br />
                        @(((VacancyApplication)ViewBag.vacancyApplication).Message)
                    </td>
                </tr>
                @if (((VacancyApplication)ViewBag.vacancyApplication).ResumeURL != null && ((VacancyApplication)ViewBag.vacancyApplication).ResumeURL != "")
                {
                    <tr>
                        <td>
                            <a href="http://logi-lebanon.org@(((VacancyApplication)ViewBag.vacancyApplication).ResumeURL)">Download Resume: </a>

                        </td>
                    </tr>
                }
            </table>
        </td>
    </tr>
</table>